.message {
    width: min(100%, 500px);
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.none {
    display: none;
}

.positive {
    border-color: green;
}
.negative {
    border-color: red;
}
