ul.country,
ul.official-list{
    list-style: none;
    text-align: left;
}

.country-list-item {
    font-weight: bold;
    margin-top: 15px;
    width: 100%;
}

.official-list {
    padding-left: 15px;
}

.official-list-item {
    font-weight: lighter;
    font-style: italic;
}

.list-button {
    border-color: #8f8f8f;
    margin: 15px;
}
